@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato&family=Roboto:wght@300&display=swap');
html,body{
    margin:0;
    padding: 0px; 
    font-family: 'Roboto', sans-serif;  
    width: 100%;
    scroll-behavior: smooth;
    top:0;
    left:0;
 }

 ul {
    list-style: none;
}

/*--------Navbar--Start-------*/
.navbar-section{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    
}
.nav-bg-color{
    background-color: #14381A;
}
.logo a{    
    font-family: "Lato", sans-serif;
    font-weight: 900;    
}
#navbar-content{
    margin-left: auto;
}
.navbar-light .navbar-toggler {
    color:rgba(245, 245, 245, 0.8);
    border-color: rgba(245, 245, 245, 0.8);
}
.nav-item{
    margin-left: auto;
}
.nav-items{
    margin-left: 15px;
}
#nav-button-toggle
{
    background-color:rgba(245, 245, 245, 0.8);
    border-radius: 5px;
}
#nav-button-search{
    border: 1px solid rgba(245, 245, 245, 0.8);
}
#nav-button-search,
#nav-button-logo,
#nav-button-home,
#nav-button-doctor,
#nav-button-store,
#nav-button-contact{
    color: rgba(245, 245, 245, 0.8);
}
#nav-button-home:hover,
#nav-button-doctor:hover,
#nav-button-store:hover,
#nav-button-contact:hover{
    color:#000;
    background-color: #fff;
    border-radius: 5px;
    transition:ease-in-out;
}
.active{
    border:1px solid rgba(245, 245, 245, 0.8);
    border-radius:5px;
}
.display-inline{
    display: inline;
}

/*--------Navbar--End---------*/
/*------Home----Start------*/
#home-section{
    position:relative;
    margin-top:0;
    margin-bottom:50px;
    width:100%;
    color:#fff;
    background:linear-gradient(rgba(61, 31, 31, 0.5),rgba(0,0,0,0.5)) ,url(../images/doctorhp.jpg) no-repeat;
    background-attachment: fixed;
    height: 650px;
    background-size: cover;
    background-position: center center;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out; 

}

.home-title{
    margin-left: 30px;
    position: absolute;
    top: 40%;
    transform: translate(0, -50%);
    color: rgba(245, 245, 245, 0.8);
}
.home-title p{
    padding-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.btn-main{
    border:2px solid #fff;
    padding:10px 30px;
    color:#000;
    background: #fff auto;
    text-decoration: none;
    transition: 0.6s ease;
    border-radius: 8px;
}
/*------Home----end------*/
/*------Doctors----Start------*/
#popular-doctor-title{
    text-align: center;
}
#popular-doctor-title-tern{
    position: relative;
    height: 5px;
    width: 100%;
    margin-left: 80px;
    margin-right: 80px;
    background-position: center;
    background-color: #000;
}
.doctor-section{
    position:relative;
    margin-top:50px;
    margin-bottom:50px;
    height: auto;
    width:100%;
    padding: 24px;
}
.doctor{
    max-height: 400px;
    padding-top: 50px;
    text-align: center;
}
.popular-doc{
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 10px 30px 0 30px;
    
}
.doctors-pic img{
    height:150px;
    width:150px;
    border-radius: 50%;
    margin-left: 40px;
    
    
}


/*------Doctors----End------*/
/*------Medicine----Start------*/
#medicine-home{
    margin-top:50px;
    margin-bottom:50px;
    height: auto;
    position:relative;
    width:100%;
    padding: 24px;
    color:#fff;
}
.medicine-offer-title{
    position: relative;    
    background:url(../images/offer1.jpg) no-repeat;
    height:300px;
    background-size: cover;
    border-radius: 7px;
}
.medicine-list{
    height: auto;
    padding-top: 20px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}
#methylprednisolone{
    background:url(../images/medicine/methylprednisolone.jpg) center center no-repeat;
    background-size: cover; 
    background-position: center; 
    height:200px;   
    padding: 5px;
}
#ceftazidime{
    background:url(../images/medicine/ceftazidime.jpg) center center no-repeat;
    background-size: cover; 
    background-position: center; 
    height:200px;   
    padding: 5px;
}
#isoniazid{
    background:url(../images/medicine/isoniazid.jpg) center center no-repeat;
    background-size: cover;  
    background-position: center; 
    height:200px;   
    padding: 5px;    
}
#omeprazole{
    background:url(../images/medicine/omeprazole.jpg) center center no-repeat;
    background-size: cover; 
    background-position: center; 
    height:200px; 
    padding: 5px;  
}
#medicine-pic{
    margin-left:200px;
    margin-right: 200px;
    margin-top: 50px;
}


/*------Medicine----end------*/
/*------footer----Start------*/
.footer-section{
    position:absolute;
    width:100%;
    padding: 24px;
    height: auto;
    background-color: #14381A;
    color:#fff;

}
/*------Downloadapp------*/
.item-app-img{
    width: 120px; 
    height:30px;      
    margin-top: 15px;    
    position: center;  
}
.item-app-img img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 5px; 
}

.download-app{
    display: block;
    justify-content: center;
}
/*------carrier------*/
.carrier{
    text-align: center;
}
.carrier h5{
    padding-left: 22px;   
}
.carrier ul li a{
    text-decoration: none;
    color:#fff;
    transition: all .6s ease-in-out;
}
.carrier ul li a:hover{
    text-decoration: underline;
    color:#fff;
}
/*------support------*/
.support{
    text-align: center;
}
.support h5{
    padding-left: 23px;
}
.support ul li a{
    text-decoration: none;
    color:#fff;
    transition: all .6s ease-in-out;
}
.support ul li a:hover{
    text-decoration: underline;
    color:#fff;
}

/*------follow us------*/
.follow-us{
    text-align: center;
}
.follow-us h5{
    padding-left: 23px;
}
.social-link li{
    display: inline;
}
.social-link li a{
    text-decoration: none;
    color:#fff;
    transition: all .6s ease-in-out;
}
.social-link li a:hover{
    text-decoration: underline;
    color:#fff;
}

.social-link li a i{
    width:32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}
.social-link li a i:hover{
    background-color: #772509;
}
/*------footer----end------*/

/*------Media query for background image on home section-----*/

@media only screen and (max-width: 767px) {
    #home-section{
        height: 600px;       
    }
    .doctor{
        height:auto;
    }
}